#divMember{
    width: 100%;
}

#divMemberImage{
    margin-left: 5px;
    margin-right: 30px;
    margin-bottom: 80px;
    margin-top: 20px;
    float: left;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px grey;;
}

#divMemberImage img{
    height:150px;
    width: 150px;
}

#divIntro{
    display: block;
    width: 700;
    height: 300;
    border:#43C6AC 10px;
    margin: 0 -5px;
}

#divIntro:hover{
    box-shadow: 0px 5px 5px grey;;
}

#divMemberIntroduction{
    content: ' ';
    float: left;
}

#spanName{
    font-size: 12pt;
    color: gray;
}

#spanMemberTitle{
    padding: 5px;
    background-color: #43C6AC;
    color: #FFFFFF;
    font-size: 30px;
}
