#divMemberIntroduction{
   /* display:flex;
    flex-wrap:wrap;*/ 
}

#divIntro{
    display: flex;
    flex-wrap:wrap;
}

#divMember{
    width: 100%;
    display: inline-block;
    
}

#divMemberImage{
    margin-left: 5px;
    margin-right: 30px;
    margin-bottom: 80px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px grey;;
}

.divCrab{
    height: 100%;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.divCrab img{
    width: 300px;
    transform: rotate(-10deg);
}

#divMemberImage img{
    height:150px;
    width: 150px;
}


#divIntro{
    display: block;
    width: 700;
    height: 300;
    margin: 0 -5px;
}

#divIntro:hover{
    box-shadow: 0px 5px 5px grey;
}



#spanName{
    font-size: 12pt;
    color: gray;
}

#spanMemberTitle{
    padding: 5px;
    background-color: #43C6AC;
    color: #FFFFFF;
    font-size: 30px;
}
