.Footer{
    height: 75px;
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footerLogo{
    height: 100%;

    padding: 15px;
}

#footerLogo img{
    height: 45px;
}