.divHomeContents{
    width: 100%;
}

#divAward{
    height: 200px;
}

#divContact{
    height: 200px;
}

#divIntroduction{
    height: 200px;

    display: flex;
    flex-direction: row;
}

#divIntroductionImage{
    width: 400px;

    display: flex;
    flex-direction: row;
}

#divIntroductionText{
    width: 100%;

    display: flex;
    flex-direction: column;
}

#divIntroductionText p{
    margin: 10px;
}

#divProject{
    height: 200px;
}

#divWork{
    height: 200px;
}

#pIntroductionTextContent{
    font-size: 25px;
}

#pIntroductionTextTitle{
    font-size: 35px;
}