.divHomeContents{
    width: 100%;

    margin-bottom: 80px;
    margin-top: 80px;

    align-items: center;
}

#divAward{
    height: 600px;

    display: flex;
    flex-direction: row;
}

#divAwardImage{
    height: 100%;
    width: 550px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#divAwardImage img{
    width: 300px;

    transform: rotate(10deg);
}

#divAwardText{
    height: 100%;
    width: 100%;

    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divAwardText p{
    margin: 10px;
}

#divInfo{
    height: 400px;
}

#divIntroduction{
    height: 600px;

    display: flex;
    flex-direction: row;
}

#divIntroductionImage{
    height: 100%;
    width: 550px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#divIntroductionImage img{
    width: 300px;

    transform: rotate(10deg);
}

#divIntroductionText{
    height: 100%;
    width: 100%;

    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divIntroductionText p{
    margin: 10px;
}

#divWork{
    height: 750px;
}

#divWorkTitle{
    width: 100%;
}

#divWorkContent{
    height: 630px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divWorkItem{
    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
    border-radius: 25px;
}

.divWorkItemImage{
    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.divWorkItemImage img{
    height: 100%;
}

.divWorkWrapper{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pAwardTextContent{
    padding: 20px;

    font-size: 27px;
}

#pAwardTextTitle{
    padding: 20px;

    background-color: #43C6AC;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 900;
}

#pIntroductionTextContent{
    font-size: 27px;
}

#pIntroductionTextTitle{
    color: #43C6AC;
    font-size: 55px;
    font-weight: 900;
}

#pWorkItemText{
    font-size: 20px;

    margin-bottom: 0;
    margin-top: 5px;
}

#pWorkTitle{
    padding: 10px;

    background-color: #43C6AC;
    color: #FFFFFF;
    font-size: 35px;
}