.divAward{
    height: 200px;
}

.divContact{
    height: 200px;
}

.divIntroduction{
    height: 200px;
}

.divProject{
    height: 200px;
}

.divWork{
    height: 200px;
}

#divHomeContents{
    width: 100%;
}