<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

	DefCon Web // GitHub : @HarenKei
-->
<html>
	<head>
		<title>DefCon : "이거 님이 만드신거였군요"</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/"><img src="../static/images/DefCon_logo.svg" alt="Defcon logo"/></a>
				
				<nav>
					<a href="#menu">Menu</a>
				</nav>
				
			</header>

		<!-- Nav -->
		
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/activity">DefCon Activities</a></li>
					<li><a href="/about">About DefCon</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1><img src="../static/images/DefCon_logo.svg" alt="logo"></h1>
					<!--<br><p>이거 님이 만드신거였군요!</p>-->
				</div>

			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>대학생 프로그래밍팀 Def:Con</h2>
						<p>Def:Con은 성보고등학교 동아리에서 시작된 대학생 프로그래밍 팀입니다.<br>
						   사용자가 Def:Con이 만들었다는 사실을 알았을때 믿음을 줄 수 있는 프로그램을 만들고 싶습니다.<br>
						   2019 스마트 서울 모바일 앱 공모전 장려상 수상을 계기로 Def:Con을 더 많은 사람들에게 알리려 합니다.
						</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="https://play.google.com/store/apps/developer?id=DefCon&hl=ko" class="icon fa-android"><span class="label">Icon</span></a>
									<h3>Android</h3>
								</header>
								<p>안드로이드 애플리케이션, 롬 빌드를 합니다. Google 플레이스토어에서 'DefCon'을 검색해 DefCon의 다양한 앱을 즐겨보세요!<br>
								(아이콘을 클릭하면 DefCon 플레이스토어로 이동합니다.)</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-apple"><span class="label">Icon</span></a>
									<h3>iPhone</h3>
								</header>
								<p>아이폰에서 작동하는 애플리케이션을 개발합니다. 조만간 찾아옵니다!<br>
								아이폰을 조립, 수리합니다. 이게 되네...</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-code"><span class="label">Icon</span></a>
									<h3>WEB 개발</h3>
								</header>
								<p>Python FLASK를 사용한 웹을 만듭니다. 여러분이 지금 보고 계신 페이지도 FLASK로 만들었습니다!</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-flag"><span class="label">Icon</span></a>
									<h3>CTF (With Defenit)</h3>
								</header>
								<p>Def:Con 팀원 한 명이 Defenit이라는 팀 소속으로 CTF에 참가합니다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Telegram 챗봇</h3>
								</header>
								<p>Telegram에서 작동하는 챗봇을 만듭니다.<br>
										CAU MEAL : @CAU_MEAL_bot<br>
										DUC bot :  @daelimUC_bot
								</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-mobile"><span class="label">Icon</span></a>
									<h3>하드웨어</h3>
								</header>
								<p>고장난 스마트폰을 수리하거나 새로운 스마트폰을 조립해냅니다. 커피 몇 잔에 말이죠.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>2019 스마트 서울 모바일 앱 공모전 장려상 수상!</h2>
					<p>Def:Con이 서울시와 서울디지털재단이 주최한 2019년 스마트 서울 모바일 앱 공모전에서 12.2:1 경쟁률을 뚫고 11위를 차지하여 장려상을 수상하였습니다.
						<br>Def:Con이 공모전에 제출한 앱은 12월 중으로 스마트 서울 모바일 앱 공모전 홈페이지에서 확인하실 수 있습니다.
					</p>
				</div>
			</section>

		<!-- Testimonials -
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Faucibus consequat lorem</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src= "/static/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src= "/static/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src= "../static/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>-->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>DEF:CON</h3>
							<p>Since 2016 - 성보고등학교 호림관 4층 컴퓨터실<br>중앙대학교 / 안양대학교 / 대림대학교 / 극동대학교
							</p>
						</section>

						<section>
							<h4>GitHub</h4>
							<ul class="plain">
								<li><a href="https://github.com/yymin1022"><i class="icon fa-github">&nbsp;</i>LR</a></li>
								<li><a href="https://github.com/rdg1029"><i class="icon fa-github">&nbsp;</i>Caret</a></li>
								<li><a href="https://github.com/harenkei"><i class="icon fa-github">&nbsp;</i>HarenKei</a></li>
								<li><a href="https://github.com/V4bel"><i class="icon fa-github">&nbsp;</i>V4bel</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						designed by <a href="https://templated.co/">TEMPLATED</a> and released under the <a href="https://creativecommons.org/licenses/by/3.0/deed.ko">Creative Commons License./a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->

			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
