<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

	DefCon Web // GitHub : @HarenKei
-->
<html>
	<head>
		<title>DefCon : "이거 님이 만드신거였군요"</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/"><img src="../static/images/DefCon_logo.svg" alt="Defcon logo"/></a>

				<nav>
					<a href="#menu">Menu</a>
				</nav>

			</header>

		<!-- Nav -->

			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/member">DefCon Members</a></li>
					<li><a href="/privacy">Privacy Notice</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1><img src="../static/images/DefCon_logo.svg" alt="logo"></h1>
					<!--<br><p>이거 님이 만드신거였군요!</p>-->
				</div>

			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>대학생 프로그래밍팀 Def:Con</h2>
						<p>Def:Con은 성보고등학교 프로그래밍 동아리로부터 시작된 대학생 프로그래밍 팀입니다.<br>
						   사용자가 Def:Con이 만들었다는 사실을 알았을때 믿음을 줄 수 있는 프로그램을 만들고 싶습니다.<br>
						   2019 스마트 서울 모바일 앱 공모전 장려상 수상을 계기로 Def:Con을 더 많은 사람들에게 알리고자 합니다.
						</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="https://play.google.com/store/apps/developer?id=DefCon&hl=ko" class="icon fa-android" target="_blank"><span class="label">Icon</span></a>
									<h3>Android</h3>
								</header>
								<p>Android 애플리케이션 개발과, Android OS 빌드를 합니다. Google Play에서 'DefCon'을 검색해 DefCon의 다양한 앱을 즐겨보세요!<br>
								(아이콘을 클릭하면 DefCon 플레이스토어로 이동합니다.)</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-apple"><span class="label">Icon</span></a>
									<h3>iPhone</h3>
								</header>
								<p>iPhone에서 작동하는 애플리케이션을 개발합니다. 조만간 찾아옵니다!<br>
								iPhone을 조립, 수리합니다. 이게 되네...</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-code"><span class="label">Icon</span></a>
									<h3>WEB 개발</h3>
								</header>
								<p>Python FLASK를 사용한 웹페이지를 개발합니다. 지금 여러분이 보고 계신 웹페이지도 flask로 개발되었습니다!</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-flag"><span class="label">Icon</span></a>
									<h3>CTF (With Defenit)</h3>
								</header>
								<p>Def:Con 팀원 한 명이 해킹 팀 Defenit 소속으로서 CTF에 참가합니다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Telegram 챗봇</h3>
								</header>
								<p>Telegram에서 동작하는 챗봇을 만듭니다.<br>
										CAU MEAL(중앙대학교 학식 알리미) : @CAU_MEAL_bot<br>
										DUC bot(대림대학교 알리미) :  @daelimUC_bot
								</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-mobile"><span class="label">Icon</span></a>
									<h3>하드웨어</h3>
								</header>
								<p>고장난 스마트폰을 수리하거나 새로운 스마트폰을 조립해냅니다. 공임비 명목의 커피 몇 잔에 말이죠.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>2019 스마트 서울 모바일 앱 공모전 장려상 수상!</h2>
					<div id="soulrest">
						<img src="../static/images/soulrest.png"/>
						<h1>Soul Rest</h1>
					</div>
					<p>Def:Con이 서울시와 서울디지털재단이 주최한 2019년 스마트 서울 모바일 앱 공모전에서 12.2:1의 경쟁률을 뚫고 11위를 차지하여 장려상을 수상하였습니다.
						<br>자세한 내용은 서울 모바일 앱 공모전 홈페이지에서 확인하실 수 있습니다.
					</p>
					<div id="soulrest-goto">
						<p><a id="btn-soulrest-info" href="https://www.seoulappcontest.org/web/info/winnerView.do?idx=110&year=2019&type=win" target="_blank">홈페이지 바로가기</a></p>
						<p><i class="icon fa-github">&nbsp;</i><a id="btn-soulrest-info" href="https://github.com/yymin1022/SeoulHealing" target="_blank">GitHub</a></p>
					</div>
				</div>
			</section>

			<section class="wrapper">
				<div class="inner" id="service">
					<header class="special">
						<h2>Service</h2>
						<p>
							<h1>-펑-</h1>
							<br>
							<p><strike>호구를 찾습니다</strike></p>
						</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<h2>모바일 앱 개발</h2>
								<p>
									앱 개발 담당자의 군 복무로 인해 일시적으로 서비스를 이용하실 수 없습니다<br>
									(2021.04. ~ 2021.19.)
									<br><br>
									<strike>
									저렴한 가격으로 앱을 개발해드립니다!<br>
									<strike>(가격이 저렴한 것은 다 이유가...)</strike>
									</strike>
								</p>
								<!--
								<div class="author">
									<div class="image">
										<img src= "/static/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							-->
							</div>
						</section>
						<section>
							<div class="content">
								<h2>모바일 기기 A/S</h2>
								<p>
									A/S 담당자의 군 복무로 인해 일시적으로 서비스를 이용하실 수 없습니다<br>
									(2020.10. ~ 2021.19.)
									<br><br>
									<strike>
									AliExpress 라는 온라인 쇼핑몰을 알고 계신가요?<br><br>
									네...<br>
									아무튼 그렇습니다!
									</strike>
								</p>
								<!--
								<div class="author">
									<div class="image">
										<img src= "/static/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							-->
							</div>
						</section>
						<section>
							<div class="content">
								<h2>디자인</h2>
								<p>
									디자인 담당자의 군 복무로 인해 일시적으로 서비스를 이용하실 수 없습니다<br>
									(2020.03. ~ 2021.09.)
								</p>
								<!--
								<div class="author">
									<div class="image">
										<img src= "../static/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							-->
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>DEF:CON</h3>
							<p>Since 2016 - 성보고등학교 호림관 4층 컴퓨터실<br>중앙대학교 / 안양대학교 / 대림대학교 / NULL
							</p>
						</section>

						<section>
							<h4>GitHub</h4>
							<ul class="plain">
								<li><a href="https://github.com/yymin1022"><i class="icon fa-github">&nbsp;</i>LR</a></li>
								<li><a href="https://github.com/rdg1029"><i class="icon fa-github">&nbsp;</i>Caret</a></li>
								<li><a href="https://github.com/harenkei"><i class="icon fa-github">&nbsp;</i>HarenKei</a></li>
								<li><a href="https://github.com/V4bel"><i class="icon fa-github">&nbsp;</i>V4bel</a></li>
							</ul>
						</section>
					</div>
				</div>
			</footer>

		<!-- Scripts -->

			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
