<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Members - Def:Con</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="logo" href="/"><img src="../static/images/DefCon_logo.svg" alt="Defcon logo"/></a>
			
			<nav>
				<a href="#menu">Menu</a>
			</nav>
			
		</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/member">DefCon Members</a></li>
					<li><a href="/privacy">Privacy Notice</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Members</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							<div>
								<div>
									<h2>LR</h2>
									<h4>중앙대학교 소프트웨어학부 19학번 / 대학생 1인 개발자 / 대한민국 공군 ROKAF 체계운영병</h4>
									<ul class="icons">
										<li><a href="https://blog.naver.com/yymin1022" target="_sub"><i class="fa fa-home fa-lg"></i></a></li>
										<li><a href="https://blog-lr.defcon.or.kr" target="_sub"><i class="fa fa-home fa-lg"></i></a></li>
										<li><a href="https://www.facebook.com/profile.php?id=100007285635473" target="_sub"><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href="https://instagram.com/useful_min" target="_sub"><i class="fa fa-instagram fa-lg"></i></a></li>
										<li><a href="https://github.com/yymin1022" target="_sub"><i class="fa fa-github fa-lg"></i></a></li>
										<li><a href="https://play.google.com/store/apps/developer?id=Dev.+LR" target="_sub"><i class="fa fa-android fa-lg"></i></a></li>
									</ul>
								</div>

								<hr/>

								<div>
									<h2>Caret</h2>
									<h4>아...</h4>
									<ul class="icons">
										<li><a href="https://github.com/rdg1029" target="_sub"><i class="fa fa-github fa-lg"></i></a></li>
									</ul>
								</div>

								<hr/>

								<div>
									<h2>HarenKei</h2>
									<h4>우리는 국가와 국민에 충성을 다하는 대한민국 육군이다.</h4>
									<ul>
										<li>하나. 우리는 자유민주주의를 수호하며 조국통일의 역군이 된다.</li>
										<li>둘. 우리는 실전과 같은 훈련으로 지상전의 승리자가 된다.</li>
										<li>셋. 우리는 법규를 준수하고 상관의 명령에 복종한다.</li>
										<li>넷. 우리는 명예와 신의를 지키며 전우애로 굳게 단결한다.</li>
									</ul>
									<ul class="icons">
										<li><a href="https://heibondk.tistory.com" target="_sub"><i class="fa fa-home fa-lg"></i></a></li>
										<li><a href="https://twitter.com/harenkei" target="_sub"><i class="fa fa-twitter fa-lg"></i></a></li>
										<li><a href="https://facebook.com/profile.php?id=100008194504454" target="_sub"><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href="https://instagram.com/min_from00" target="_sub"><i class="fa fa-instagram fa-lg"></i></a></li>
										<li><a href="https://github.com/harenkei" target="_sub"><i class="fa fa-github fa-lg"></i></a></li>
									</ul>
								</div>

								<hr/>

								<div>
									<h2>V4bel</h2>
									<h4>자퇴준비생</h4>
									<ul class="icons">
										<li><a href="https://kimvabel.tistory.com" target="_sub"><i class="fa fa-home fa-lg"></i></a></li>
										<li><a href="https://github.com/v4bel" target="_sub"><i class="fa fa-github fa-lg"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>DEF:CON</h3>
						<p>Since 2016 - 성보고등학교 호림관 4층 컴퓨터실<br>중앙대학교 / 안양대학교 / 대림대학교 / NULL
						</p>
					</section>

					<section>
						<h4>GitHub</h4>
						<ul class="plain">
							<li><a href="https://github.com/yymin1022"><i class="icon fa-github">&nbsp;</i>LR</a></li>
							<li><a href="https://github.com/rdg1029"><i class="icon fa-github">&nbsp;</i>Caret</a></li>
							<li><a href="https://github.com/harenkei"><i class="icon fa-github">&nbsp;</i>HarenKei</a></li>
							<li><a href="https://github.com/V4bel"><i class="icon fa-github">&nbsp;</i>V4bel</a></li>
						</ul>
					</section>
				</div>
			</div>
		</footer>

		<!-- Scripts -->
            <script src="{{ url_for('static', filename="assets/js/jquery.min.js") }}"></script>
			<script src="{{ url_for('static', filename="assets/js/browser.min.js") }}"></script>
			<script src="{{ url_for('static', filename="assets/js/breakpoints.min.js") }}"></script>
			<script src="{{ url_for('static', filename="assets/js/util.js") }}"></script>
			<script src="{{ url_for('static', filename="assets/js/main.js") }}"></script>
	</body>
</html>
