<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Privacy Notice</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="/"><img src="../static/images/DefCon_logo.svg" alt="Defcon logo" /></a>

        <nav>
            <a href="#menu">Menu</a>
        </nav>

    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/member">DefCon Members</a></li>
            <li><a href="/privacy">Privacy Notice</a></li>
        </ul>
    </nav>

    <!-- Heading -->
    <div id="heading">
        <h1>개인정보 처리 방침 Privacy Notice</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <p>
                    Def:Con (이하 회사)는 이용자의 개인 정보를 보호하기 위해 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 및 ‘개인정보보호법’ 등 관련 법률상의 개인정보 보호 규정을
                    준수하고 있으며 다음과 같은 개인정보 처리방침을 가지고 있습니다.<br>
                    <br>
                    회사는 개인정보 처리방침을 통해 이용자의 개인정보가 어떠한 목적과 방식으로 수집, 이용되고 있으며, 이용자의 개인정보 보호를 위해 회사가 어떠한 조치를 취하고 있는 지
                    알려드립니다.<br>
                    <br>
                    본 개인정보 처리 방침은 관련 법의 개정이나 회사의 정책에 따라 변경될 수 있으며, 회사는 웹사이트를 통하여 이를 알려드리오니, 웹사이트 이용 시에 수시로 확인하여 주시기
                    바랍니다.<br>
                    <br>
                    1. 처리하는 개인정보의 항목<br>
                    회사는 각종 서비스의 제공을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
                    (1) 개인정보 수집 항목<br>
                    ① 일반 수집 항목 : 현재 위치정보<br>
                    ② 서비스 이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.<br>
                    - 현재 이동 속도<br>
                    (2) 개인정보 수집 방법<br>
                    회사는 다음과 같은 방법으로 개인정보를 수집합니다.<br>
                    ① 애플리케이션을 통한 서비스 이용 중 자동 수집<br>
                    <br>
                    2. 개인정보의 처리 목적<br>
                    회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
                    (1) 회사 관련 문의에 대한 정보 제공 및 안내<br>
                    (2) 서비스 제공을 위한 정보 활용 : 애플리케이션 내 기능<br>
                    <br>
                    3. 개인정보의 보유기간<br>
                    정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>
                    (1) 애플리케이션을 통해 수집되는 위치정보는 해당 일시의 이동 속도 계산에만 활용하며, 별도로 수집해 보존하지 않습니다. 애플리케이션을 종료하는 즉시 파기됩니다.<br>
                    <br>
                    4. 개인정보의 파기<br>
                    회사는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.<br>
                    1) 파기절차<br>
                    개인정보는 목적 달성 후 즉시 또는 별도의 공간에 옮겨져 내부 방침 및 기타 관련법령에 따라 파기됩니다. 별도의 공간으로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른
                    목적으로 이용되지 않습니다.<br>
                    2) 파기방법<br>
                    종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
                    <br>
                    5. 개인정보의 제3자 제공<br>
                    회사는 이용자의 동의가 있거나 관련 법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 "1. 처리하는 개인정보의 항목", "2. 개인정보의 처리 목적"에서 고지한 범위를 넘어
                    이용자의 개인정보를 이용하거나 제3자에게 제공하지 않습니다. 다만, 다음의 경우에는 예외로 합니다.<br>
                    (1) 이용자가 사전에 동의한 경우<br>
                    (2) 관련 법령의 규정에 의하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
                    (3) 타인에게 정신적, 물질적 피해를 줌으로써 그에 대한 법적 조치를 취하기 위해 이용자의 정보를 공개해야 한다고 판단되는 충분한 근거가 있는 경우<br>
                    (4) 통계작성, 마케팅 분석 또는 시장조사를 위해 필요한 경우로 특정 개인을 식별할 수 없는 형태로 가공하여 외부 기관 또는 단체 등에 제공하는 경우<br>
                    <br>
                    6. 개인정보처리의 위탁<br>
                    회사는 개인정보 처리 업무를 위탁하지 않습니다. 위탁하는 업무의 변경이 발생할 경우 웹사이트의 공지사항을 통해 안내 드리겠습니다.<br>
                    <br>
                    7. 개인정보 자동 수집의 목적 및 거부에 관한 사항<br>
                    회사는 이용자의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)', 'ActiveX'등 개인정보를 자동으로 수집하는 장치(이하 “쿠키 등”)를 설치 운용하지 않습니다. 쿠키란
                    웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 이용자의 컴퓨터 하드디스크에 저장됩니다.<br>
                    <br>
                    8. 개인정보의 안전성 확보 조치에 관한 사항<br>
                    (1) 관리적 조치<br>
                    ①개인정보를 취급하는 개발 팀원을 대상으로 개인정보 보호 의무 및 관련 보안 기술 습득 교육을 정기적으로 실시하고 있습니다.<br>
                    ③개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다.<br>
                    ④개인정보에 대한 접근권한을 최소한의 인원으로 제한하는 등의 관리적 대책을 시행하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다.<br>
                    - 이용자를 직접 상대로 하여 업무를 수행하는 자<br>
                    - 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행는 자<br>
                    - 기타 업무상 개인정보의 취급이 불가피한 자<br>
                    (2) 기술적 조치<br>
                    ① 네트워크를 통한 개인정보의 전송이 이루어지지 않도록 서비스를 제공하는 애플리케이션 내에서만 개인정보를 수집하고 처리해 파기합니다.<br>
                    <br>
                    9. 정보주체의 권리·의무 및 행사방법<br>
                    이용자 및 법정대리인의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 이용자 및 법정대리인이 입력한 부정확한 정보로 인해 발생하는 사고의 책임은
                    이용자 및 법정대리인 자신에게 있으며 타인 정보의 도용 등 허위 정보를 입력할 경우 서비스 이용이 제한 될 수 있습니다. 이용자 및 법정대리인은 개인정보를 보호받을 권리와 함께
                    스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 이용자 및 법정대리인의 개인 정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지
                    않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 등에
                    의해 처벌 받을 수 있습니다.<br>
                    (1) 정보주체는 개인정보보호법 등 관계법령이 정하는 바에 따라 회사에 대해 아래와 같은 개인정보 보호 관련 권리를 행사할 수 있습니다.<br>
                    ① 개인정보 열람요구<br>
                    ② 오류 등이 있을 경우 정정 요구<br>
                    ③ 삭제요구<br>
                    ④ 처리정지 요구<br>
                    (2) 개인정보 열람, 정정, 삭제 요구의 권리:<br>
                    이용자 및 법정대리인은 언제든지 등록되어 있는 자신의 개인정보를 열람하거나 정정, 삭제하실 수 있습니다. 개인정보 열람 및 정정, 삭제를 하고자 할 경우에는 개인정보보호책임자 및
                    담당자에게 서면, 전화 또는 전자우편주소로 연락하시면 지체 없이 조치하겠습니다.<br>
                    (3) 개인정보 수집, 이용, 제공에 대한 동의 철회의 권리:<br>
                    이용자 및 법정대리인은 서비스 이용을 위해 입력하신 개인정보의 수집, 이용, 제공, 저장에 대해 동의하신 내용을 철회하실 수 있습니다. 동의 철회는 개인정보보호 담당자에게 서면,
                    전화 또는 전자우편주소로 연락하시면 본인 확인 절차 후 개인정보의 삭제 등 필요한 조치를 하겠습니다.<br>
                    <br>
                    10. 개인정보보호 책임자에 관한 사항<br>
                    회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
                    [개인정보 보호책임자]<br>
                    부서명 : Def:Con<br>
                    성명 : 유용민<br>
                    직책 : 개발담당자<br>
                    연락처 : yymin1022@gmail.com<br>
                    <br>
                    [개인정보 보호담당자]<br>
                    부서명 : Def:Con<br>
                    성명 : 김영현<br>
                    직책 : 개발담당자<br>
                    연락처 : wcle3456@gmail.com<br>
                    <br>
                    정보주체는 회사의 서비스(또는 사업)을 이용하면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의할 수
                    있습니다. 회사는 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.<br>
                    <br>
                    11. 권익침해 구제방법<br>
                    정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다.<br>₩
                    < 아래의 기관은 회사와는 별개의 기관으로서, 회사의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다><br>
                        (1) 개인정보침해신고센터<br>
                        - 전화 : (국번없이) 118<br>
                        - URL : http://privacy.kisa.or.kr<br>
                        (2) 개인정보분쟁조정위원회<br>
                        - 전화 : 02-2100-2499<br>
                        - URL : http://www.kopico.go.kr<br>
                        3) 대검찰청 사이버수사과<br>
                        -전화 : (국번없이) 1301<br>
                        - URL : http://www.spo.go.kr<br>
                        4) 경찰청 사이버안전국<br>
                        전화 : (국번없이) 182<br>
                        - URL : http://cyberbureau.police.go.kr<br>
                        <br>
                        12. 개인정보 처리 방침의 변경 및 공지<br>
                        개인정보처리방침은 법령ㆍ정책 또는 보안 기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 아래와 같은 방법으로 사전 공지하도록 하겠습니다.<br>
                        - 공지 사항 란 또는 별도의 창을 통하여 수정 내용 공지<br>
                        시행 일자 2021년 2월 28일<br>
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h3>DEF:CON</h3>
                    <p>Since 2016 - 성보고등학교 호림관 4층 컴퓨터실<br>중앙대학교 / 안양대학교 / 대림대학교 / NULL
                    </p>
                </section>

                <section>
                    <h4>GitHub</h4>
                    <ul class="plain">
                        <li><a href="https://github.com/yymin1022"><i class="icon fa-github">&nbsp;</i>LR</a></li>
                        <li><a href="https://github.com/rdg1029"><i class="icon fa-github">&nbsp;</i>Caret</a></li>
                        <li><a href="https://github.com/harenkei"><i class="icon fa-github">&nbsp;</i>HarenKei</a></li>
                        <li><a href="https://github.com/V4bel"><i class="icon fa-github">&nbsp;</i>V4bel</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>

    <!-- Scripts -->

    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/browser.min.js"></script>
    <script src="../static/assets/js/breakpoints.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>

</body>

</html>