.Header{
    height: 75px;
    width: 100%;

    padding-left: 30px;
    padding-right: 30px;

    position: fixed;
    top: 0;

    background-color: aquamarine;
}

#headerLogo{
    height: 100%;
}

#headerLogo img{
    height: 100%;
}