.Header{
    height: 75px;
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

    position: fixed;
    top: 0;
}

#headerLogo{
    height: 100%;

    padding: 15px;
}

#headerLogo img{
    height: 45px;
}