.Header{
    height: 75px;
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerLogo{
    height: 100%;

    padding: 15px;
}

#headerLogo img{
    height: 45px;
}

#headerNav{
    height: 100%;

    padding: 15px;
}